body{
		background-color: white;
}
	header{
		background: black, color: white;
	}
	footer{
		background: #aaa, color: white;
	}
	.nav{
		background:#eee;
	}
	.nav ul{
		list-style-type: none;
		padding: 0;
	}
	.boxes{
		//position: relative;
		width:100%;
	}
	.box1 {
		background-color: white;
		border: 5px solid black;
		padding: 30px;
		//position: absolute;
		//float:left;
		display: inline-block;
		width: 280px;
	}
	.box2 {
		background-color: white;
		border: 5px solid black;
		//margin: auto;
		display: inline-block;
		padding: 30px;
		width: 280px;
	}
	.box3 {
		background-color: white;
		border: 5px solid black;
		padding: 30px;
		display: inline-block;
		//position:absolute;
		//right: 0px;
		width: 280px;
	}
	.storybook{
		overflow:hidden;
		overflow-y:scroll;
		color: WHITE;
		background-color: BLACK;
	}
	.action{
		//position: absolute;
		display: inline-block;
		right:0px;
	}
	.quantity1{
		//position: absolute;
		top: 8px;
		right: 16px;
		font-size: 18px;
	}
	.quantity2{
		//position: absolute;
		top: 8px;
		right: 16px;
		font-size: 18px;
	}
	.quantity3{
		//position: absolute;
		top: 8px;
		right: 16px;
		font-size: 18px;
	}
	.rate{
		
	}
	.button1{
		position: absolute;
		bottom: 8px;
		right: 16px;
		font-size: 18px;
	}
	.button2{
		position: absolute;
		bottom: 8px;
		right: 16px;
		font-size: 18px;
	}
	.button3{
		position: absolute;
		bottom: 8px;
		right: 16px;
		font-size: 18px;
	}